.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #381367;
  color: #D3B0FA;
  font-size: 25px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 200px;
  text-align: center;
}


input[type="number"] {
  color: #381367;
  background-color: #D3B0FA;
  width: 250px;
  height: 80px;
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-align: center;

}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #671DE4;
  color: #D3B0FA;
  border: none;
  border-radius: 10px 20px 10px 20px;
  cursor: pointer;
}

.result {
  margin-top: 30px;
  font-size: 100px;
  font-weight: bold;
  color: #D3B0FA;
}